name: "MovAI Pipeline"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  frontend:
    name: Frontend CI/CD
    defaults:
      run:
        working-directory: ./frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      
      - name: Install dependencies
        run: npm ci

      - name: Jest Testing
        run: npm run test

      - name: Build
        run: npm run build
        
        # - name: Deploy to Vercel
        #   uses: amondnet/vercel-action@v23
        #   with:
        #     vercel-token: ${{ secrets.VERCEL_TOKEN }}
        #     vercel-args: '--prod'
        #     working-directory: .

